// imports
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import "config";

// Note: I'm designingfor mobile first
body,
html {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Source Sans Pro", sans-serif;
}
a {
  text-decoration: none;
  color: $accent;
}
.nav-collapse {
  position: fixed;
  height: 100vh;
  min-width: 250px;

  top: 0;
  right: -250px;
  box-sizing: border-box;
  color: $light;
  background-color: darken($color: $accent, $amount: 5%);

  z-index: 2;

  h1 {
    background-color: darken($color: $accent, $amount: 10%);
    font-size: 1.2rem;
    font-weight: normal;

    margin: 0;
    padding: 1.5rem 1rem;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin-left: 0;
      padding: 1rem;
      .menu-link {
        text-decoration: none;
        font-size: 1rem;
        color: $light;
      }
      &:hover {
        background-color: $accent;
        @include easeOut();
      }
    }
  }
}

.hov-btn {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  box-sizing: border-box;
  &.menu-btn {
    background-color: transparentize($color: $dark, $amount: 0.5);
    top: 16px;
    right: 16px;
  }
  &.back-top {
    bottom: 16px;
    right: 16px;
    background-color: transparentize($color: $dark, $amount: 0.5);
  }
  &:hover {
    background-color: darken(
      $color: transparentize($color: $dark, $amount: 0.5),
      $amount: 20%
    );
    cursor: pointer;
    @include easeOut();
  }
  i {
    color: $light;
  }
}

.divider,
.banner,
.services,
.portfolio {
  padding: 0 1rem;
  box-sizing: border-box;
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  p {
    font-size: 1.8rem;

    text-align: center;
  }
}
.banner {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.banner-1 {
    background: $pencil-1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1 {
      font-size: 4rem;
      font-weight: 700;
      margin: 0;
    }
  }
  &.banner-2 {
    background: $pencil-2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  p {
    font-weight: bold;
  }
}

.divider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    font-size: 1.2rem;
  }
  &.divider-1 {
    height: 110vh;
  }
  &.divider-2 {
    height: 75vh;
  }
  &.accent {
    background-color: $accent;
    color: $light;
    .btn-box {
      margin: 1rem;
      display: flex;
      flex-flow: row wrap;
      .btn {
        margin: 0.5rem;
      }
    }
  }
  &.light {
    background-color: $light;
    color: $dark;
  }
}

.services {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $accent;
  color: $light;
  margin: 0;

  .service {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .circle {
      background-color: $light;
      border: none;
      border-radius: 100%;
      color: $accent;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
    }
  }
}
.services,
.portfolio {
  padding: 6rem 1rem;
  h1,
  h2 {
    margin: 0;
    text-align: center;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
  }
  .complementary {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: $complementary;
  }
}
.portfolio {
  width: 100%;
  min-height: 80vh;
  h2,
  p {
    text-align: left;
    margin: 0;
  }
  .projects {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    .project {
      box-sizing: border-box;
      margin: 1rem 0.2rem;
      height: 50vh;
      max-width: 100%;
      .layer {
        position: relative;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 50vh;
        padding: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        color: $light;
        background-color: transparentize($color: $accent, $amount: 0.8);
        z-index: 1;
      }
      &.p1 {
        background-image: $img-1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.p2 {
        background-image: $img-2;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.p3 {
        background-image: $img-3;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.p4 {
        background-image: $img-4;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
.map {
  width: 100%;
  height: 75vh;
}

footer {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $light;
  p {
    color: lighten($color: $dark, $amount: 1);
    font-size: 0.8rem;
  }
  .icons {
    display: flex;
    .icon {
      height: 70px;
      width: 70px;
      margin: 1rem;
      background-color: $accent;
      color: $light;
      border: none;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: darken($color: $accent, $amount: 20%);
        @include easeOut();
      }
    }
  }
}

// links
.btn {
  text-decoration: none;
  padding: 1.5rem 3rem;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  margin: 3px;
  &.accent {
    background-color: $accent;
    color: $light;
    &:hover {
      background-color: darken($color: $accent, $amount: 15%);
      @include easeOut();
    }
  }
  &.dark {
    background-color: $dark;
    color: $light;
    &:hover {
      background-color: darken($color: $dark, $amount: 8%);
      @include easeOut();
    }
  }
  &.light {
    background-color: $light;
    color: $dark;
    &:hover {
      background-color: darken($color: $light, $amount: 8%);
      @include easeOut();
    }
  }
}

@include tablets {
  .banner-1,
  .map {
    height: 70vh;
  }
  .divider {
    &.divider-1 {
      height: 70vh;
    }
    &.divider-2 {
      height: 50vh;
    }
  }
  .services {
    height: 110vh;
    .service-box {
      display: grid;
      grid-template-areas: "s1 s2" "s3 s4";
      .s1 {
        grid-area: s1;
      }
      .s2 {
        grid-area: s2;
      }
      .s3 {
        grid-area: s3;
      }
      .s4 {
        grid-area: s4;
      }
    }
  }
  .portfolio {
    padding: 15%;
  }
  footer {
    height: 40vh;
  }
}
@include laptops {
  .banner-1 {
    height: 110vh;
    h1 {
      transform: scale(1.5, 1.2);
    }
  }
  .banner-2 {
    height: 110vh;
  }
  .divider {
    &.divider-1 {
      height: 70vh;
    }
    &.divider-2 {
      height: 60vh;
    }
  }
  .services {
    padding: 10% 0;
    height: 90vh;
    .service-box {
      display: flex;
    }
  }
  .portfolio {
    min-height: 90vh;
    padding: 3rem;
    .projects {
      display: grid;
      grid-template-areas: "p1 p2" "p3 p4";
      padding: 3rem;
      .project {
        margin: 0;
        height: 60vh;
        .layer {
          height: 60vh;
          margin: 0;
        }
        &.p1 {
          grid-area: p1;
        }
        &.p2 {
          grid-area: p2;
        }
        &.p3 {
          grid-area: p3;
        }
        &.p4 {
          grid-area: p4;
        }
      }
    }
  }
  .map {
    height: 80vh;
  }
  footer {
    height: 45vh;
  }
}
