// imports
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import "config";

// Note: I'm designingfor mobile first
body,
html {
  margin: 0;
  padding: 0;
  color: $black;
  font-family: "Source Sans Pro", sans-serif;
}
nav {
  display: none;
}
a {
  text-decoration: none;
  color: $accent;
}
.divider,
.banner,
.services,
.portfolio {
  padding: 0 1rem;
  box-sizing: border-box;
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  p {
    font-size: 1.8rem;

    text-align: center;
  }
}
.banner {
  width: 100%;
  height: 102vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &.banner-1 {
    background: $pencil-1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &.banner-2 {
    background: $pencil-2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  p {
    font-weight: bold;
  }
}

.divider {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    font-size: 1.2rem;
  }
  &.accent {
    background-color: $accent;
    color: $light;
    .btn-box {
      margin: 1rem;
      .btn {
        margin: 0.5rem;
      }
    }
  }
  &.light {
    background-color: $light;
    color: $dark;
  }
}

.services {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $accent;
  color: $light;
  margin: 0;

  .service {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .circle {
      background-color: $light;
      border: none;
      border-radius: 100%;
      color: $accent;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
    }
  }
}
.services,
.portfolio {
  padding: 6rem 1rem;
  h1,
  h2 {
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 1rem;
  }
  .complementary {
    margin: 0;
    text-align: center;
    color: $complementary;
  }
}

footer {
  background-color: $light;
}

// links
.btn {
  text-decoration: none;
  padding: 1.5rem 3rem;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  margin: 3px;
  &.accent {
    background-color: $accent;
    color: $light;
  }
  &.dark {
    background-color: $dark;
    color: $light;
  }
  &.light {
    background-color: $light;
    color: $dark;
  }
}
